PANDAS

SERIES 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series?

In [3]:
pd.DataFrame?

In [4]:
my_pets = ['lion','cat','birds','fish']
my_pets

['lion', 'cat', 'birds', 'fish']

In [5]:
pd.Series(my_pets) # convert list to series with indexes

0     lion
1      cat
2    birds
3     fish
dtype: object

CREATING OWN INDEX

In [6]:
my_days = ['Monday','Tuesday','Wednesday','Thursday','Friday']
my_course =['Economics','Geograpphy','Finance','Mathematics','History']

In [7]:
pd.Series(my_course)

0      Economics
1     Geograpphy
2        Finance
3    Mathematics
4        History
dtype: object

In [8]:
pd.Series(my_course,index = my_days)

Monday         Economics
Tuesday       Geograpphy
Wednesday        Finance
Thursday     Mathematics
Friday           History
dtype: object

In [9]:
my_days1 = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']

In [10]:
pd.Series(my_course,index =my_days1) # length is different

ValueError: ignored

In [11]:
days =pd.Series(['Monday','Tuesday','Wenesday','Thursday','Friday'],index=['Day1','Day2','Day3','Day4','Day5'])

In [12]:
days

Day1      Monday
Day2     Tuesday
Day3    Wenesday
Day4    Thursday
Day5      Friday
dtype: object

SERIES 2

In [13]:
courses = pd.Series(['Economics','Geography','Finance','Mathematics','History'],index ='Day1 Day2 Day3 Day4 Day5'.split())
courses

Day1      Economics
Day2      Geography
Day3        Finance
Day4    Mathematics
Day5        History
dtype: object

In [14]:
days + ' ' + courses # addition(concatenation) based on index

Day1        Monday Economics
Day2       Tuesday Geography
Day3        Wenesday Finance
Day4    Thursday Mathematics
Day5          Friday History
dtype: object

In [15]:
courses

Day1      Economics
Day2      Geography
Day3        Finance
Day4    Mathematics
Day5        History
dtype: object

In [16]:
courses['Day5']

'History'

In [17]:
courses['Day2']

'Geography'

In [18]:
courses[0]

'Economics'

loc & iloc

In [19]:
# loc gets rows(columns) with a particular labels(name) from the index

In [20]:
# iloc gets rows(columns) at a particular positions in the index and it takes integers

In [21]:
sports = {'Football':'Spain',
          'NBA':'USA',
          'Cricket':'India',
          'Athletes':'Jamica'}

sports_series = pd.Series(sports)
sports_series

Football     Spain
NBA            USA
Cricket      India
Athletes    Jamica
dtype: object

In [22]:
sports_series.loc['Cricket']

'India'

In [23]:
sports_series[1]

'USA'

DATA FRAME INTRODUCTION

In [24]:
# Set of series is called data frame
# It contains set of rows and columns with index
# The datas are called data points.

OPERATIONS ON DATA FRAME

In [25]:
np.random.randn(10,5)#10x5

array([[-0.86274596,  1.02162237, -0.32200776, -0.07831404, -0.560305  ],
       [ 1.04928806, -0.54185811, -0.82720196, -2.12855241,  0.11983062],
       [ 0.42468232, -0.27495251, -0.42595144,  1.08446681, -0.4134584 ],
       [ 0.90128866,  0.4653313 , -2.3099059 , -1.44610587, -1.20170441],
       [-0.38091396, -0.23778438,  0.02568945, -0.77923015, -2.04961203],
       [-1.10111144,  0.26255128,  0.5286207 , -1.03232153, -0.85714818],
       [ 0.80246049, -1.56483578, -1.85996511, -1.99824966, -0.97959671],
       [ 0.34876544, -1.14856345, -0.11329655,  0.41655577, -0.46560816],
       [-1.06170146, -0.02641415,  1.28317157, -0.91971287, -0.63617026],
       [ 0.3616493 , -0.86879455,  0.84357076, -1.00026514,  0.61083663]])

In [26]:
my_dataframe = pd.DataFrame(np.random.randn(10,5),index='row1 row2 row3 row4 row5 row6 row7 row8 row9 row10'.split(),columns='column1 column2 column3 column4 column5'.split())

In [27]:
my_dataframe

        column1   column2   column3   column4   column5
row1   0.584527  1.426794 -0.229540 -1.608589  0.467805
row2  -1.102857 -0.954725  0.626251  0.107779 -0.458245
row3   1.994269 -1.934466  0.612049  1.459568 -1.916059
row4   1.106287 -0.586124  0.998881  0.862140 -1.735787
row5   0.415147  0.152710  0.149481  0.148058 -0.506599
row6  -0.147053 -0.028043  0.341747 -1.958957 -1.318665
row7   0.011269 -0.483801 -1.129110  0.284472  0.095777
row8  -0.137943  0.427747 -1.297815 -1.101616 -0.002841
row9  -0.165580  0.068137 -0.367314  0.304182  1.241040
row10  0.011948 -0.115869 -0.171302  1.712098  0.301130

In [28]:
type(my_dataframe['column1'])

pandas.core.series.Series

In [29]:
type(my_dataframe)

pandas.core.frame.DataFrame

SELECTION AND INDEXING ON DATA FRAME

In [30]:
my_dataframe['column2']

row1     1.426794
row2    -0.954725
row3    -1.934466
row4    -0.586124
row5     0.152710
row6    -0.028043
row7    -0.483801
row8     0.427747
row9     0.068137
row10   -0.115869
Name: column2, dtype: float64

In [31]:
my_dataframe[['column1','column2','column3']]

        column1   column2   column3
row1   0.584527  1.426794 -0.229540
row2  -1.102857 -0.954725  0.626251
row3   1.994269 -1.934466  0.612049
row4   1.106287 -0.586124  0.998881
row5   0.415147  0.152710  0.149481
row6  -0.147053 -0.028043  0.341747
row7   0.011269 -0.483801 -1.129110
row8  -0.137943  0.427747 -1.297815
row9  -0.165580  0.068137 -0.367314
row10  0.011948 -0.115869 -0.171302


READING A DATASET WITH PANDAS

In [32]:
#cat Automobile.csv

In [69]:
data = pd.read_csv('Automobile.csv')
data

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [70]:
data.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [71]:
data.head(15)

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,161,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,168,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430
10,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925
11,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970
12,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105
13,1,149,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565
14,0,149,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,30760

In [72]:
data.tail()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [73]:
data.tail(10)

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
191,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
192,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985
193,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,16515
194,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18420
195,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18950
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

ADDING COLUMN TO A PANDAS DATA FRAME

In [74]:
my_dataframe

         first    second     third   column4    fourth   column6
spin
sp1   0.584527  1.426794 -0.229540 -1.608589  0.467805  1.169055
sp2  -1.102857 -0.954725  0.626251  0.107779 -0.458245 -2.205715
sp3   1.994269 -1.934466  0.612049  1.459568 -1.916059  3.988538
sp4   1.106287 -0.586124  0.998881  0.862140 -1.735787  2.212574
sp5   0.415147  0.152710  0.149481  0.148058 -0.506599  0.830293
sp6  -0.147053 -0.028043  0.341747 -1.958957 -1.318665 -0.294106
sp7   0.011269 -0.483801 -1.129110  0.284472  0.095777  0.022539
sp8  -0.137943  0.427747 -1.297815 -1.101616 -0.002841 -0.275886
sp9  -0.165580  0.068137 -0.367314  0.304182  1.241040 -0.331160

In [75]:
my_dataframe['column6'] = my_dataframe['column1']*2

KeyError: ignored

In [76]:
my_dataframe

         first    second     third   column4    fourth   column6
spin
sp1   0.584527  1.426794 -0.229540 -1.608589  0.467805  1.169055
sp2  -1.102857 -0.954725  0.626251  0.107779 -0.458245 -2.205715
sp3   1.994269 -1.934466  0.612049  1.459568 -1.916059  3.988538
sp4   1.106287 -0.586124  0.998881  0.862140 -1.735787  2.212574
sp5   0.415147  0.152710  0.149481  0.148058 -0.506599  0.830293
sp6  -0.147053 -0.028043  0.341747 -1.958957 -1.318665 -0.294106
sp7   0.011269 -0.483801 -1.129110  0.284472  0.095777  0.022539
sp8  -0.137943  0.427747 -1.297815 -1.101616 -0.002841 -0.275886
sp9  -0.165580  0.068137 -0.367314  0.304182  1.241040 -0.331160

In [77]:
type(my_dataframe['column6'])

pandas.core.series.Series

DROP COLUMNS AND ROWS IN PANDAS

In [78]:
my_dataframe.drop('columns',axis=1) # axis = 1 for columns

KeyError: ignored

In [ ]:
my_dataframe.drop('row10',axis=0) # axis = 0 for rows

In [ ]:
my_dataframe

In [79]:
my_dataframe.drop('columns',axis = 1,inplace = True) # modifies the original data

KeyError: ignored

In [ ]:
my_dataframe

In [ ]:
my_dataframe.drop('row10',axis=0,inplace=True)

In [ ]:
my_dataframe

In [80]:
my_dataframe.iloc[1]

first     -1.102857
second    -0.954725
third      0.626251
column4    0.107779
fourth    -0.458245
column6   -2.205715
Name: sp2, dtype: float64

In [81]:
my_dataframe.iloc[0,0]

0.5845274687477402

In [82]:
my_dataframe.loc['row2']

KeyError: ignored

In [83]:
my_dataframe.loc['row2','column1']

KeyError: ignored

RESET INDEX IN PANDAS DATA FRAME

In [ ]:
my_dataframe

In [84]:
my_dataframe.index

Index(['sp1', 'sp2', 'sp3', 'sp4', 'sp5', 'sp6', 'sp7', 'sp8', 'sp9'], dtype='object', name='spin')

In [85]:
my_dataframe['spin']= ['sp1','sp2','sp3','sp4','sp5','sp6','sp7','sp8','sp9']

In [86]:
my_dataframe

         first    second     third   column4    fourth   column6 spin
spin
sp1   0.584527  1.426794 -0.229540 -1.608589  0.467805  1.169055  sp1
sp2  -1.102857 -0.954725  0.626251  0.107779 -0.458245 -2.205715  sp2
sp3   1.994269 -1.934466  0.612049  1.459568 -1.916059  3.988538  sp3
sp4   1.106287 -0.586124  0.998881  0.862140 -1.735787  2.212574  sp4
sp5   0.415147  0.152710  0.149481  0.148058 -0.506599  0.830293  sp5
sp6  -0.147053 -0.028043  0.341747 -1.958957 -1.318665 -0.294106  sp6
sp7   0.011269 -0.483801 -1.129110  0.284472  0.095777  0.022539  sp7
sp8  -0.137943  0.427747 -1.297815 -1.101616 -0.002841 -0.275886  sp8
sp9  -0.165580  0.068137 -0.367314  0.304182  1.241040 -0.331160  sp9

In [87]:
my_dataframe.set_index('spin',inplace=True)

In [88]:
my_dataframe

         first    second     third   column4    fourth   column6
spin
sp1   0.584527  1.426794 -0.229540 -1.608589  0.467805  1.169055
sp2  -1.102857 -0.954725  0.626251  0.107779 -0.458245 -2.205715
sp3   1.994269 -1.934466  0.612049  1.459568 -1.916059  3.988538
sp4   1.106287 -0.586124  0.998881  0.862140 -1.735787  2.212574
sp5   0.415147  0.152710  0.149481  0.148058 -0.506599  0.830293
sp6  -0.147053 -0.028043  0.341747 -1.958957 -1.318665 -0.294106
sp7   0.011269 -0.483801 -1.129110  0.284472  0.095777  0.022539
sp8  -0.137943  0.427747 -1.297815 -1.101616 -0.002841 -0.275886
sp9  -0.165580  0.068137 -0.367314  0.304182  1.241040 -0.331160

RENMAE COLUMN IN PANDAS DATAFRAME

In [89]:
my_dataframe

         first    second     third   column4    fourth   column6
spin
sp1   0.584527  1.426794 -0.229540 -1.608589  0.467805  1.169055
sp2  -1.102857 -0.954725  0.626251  0.107779 -0.458245 -2.205715
sp3   1.994269 -1.934466  0.612049  1.459568 -1.916059  3.988538
sp4   1.106287 -0.586124  0.998881  0.862140 -1.735787  2.212574
sp5   0.415147  0.152710  0.149481  0.148058 -0.506599  0.830293
sp6  -0.147053 -0.028043  0.341747 -1.958957 -1.318665 -0.294106
sp7   0.011269 -0.483801 -1.129110  0.284472  0.095777  0.022539
sp8  -0.137943  0.427747 -1.297815 -1.101616 -0.002841 -0.275886
sp9  -0.165580  0.068137 -0.367314  0.304182  1.241040 -0.331160

In [90]:
my_dataframe.rename(columns={'column1':'first',
                    'column2':'second',
                    'column3':'third',
                    'column5':'fourth',
                    'sixth':'fifth'},inplace =True) # renaming all the column

In [91]:
my_dataframe

         first    second     third   column4    fourth   column6
spin
sp1   0.584527  1.426794 -0.229540 -1.608589  0.467805  1.169055
sp2  -1.102857 -0.954725  0.626251  0.107779 -0.458245 -2.205715
sp3   1.994269 -1.934466  0.612049  1.459568 -1.916059  3.988538
sp4   1.106287 -0.586124  0.998881  0.862140 -1.735787  2.212574
sp5   0.415147  0.152710  0.149481  0.148058 -0.506599  0.830293
sp6  -0.147053 -0.028043  0.341747 -1.958957 -1.318665 -0.294106
sp7   0.011269 -0.483801 -1.129110  0.284472  0.095777  0.022539
sp8  -0.137943  0.427747 -1.297815 -1.101616 -0.002841 -0.275886
sp9  -0.165580  0.068137 -0.367314  0.304182  1.241040 -0.331160

In [92]:
my_dataframe.rename(columns={'first':1}) # renmae only 1 column name

             1    second     third   column4    fourth   column6
spin
sp1   0.584527  1.426794 -0.229540 -1.608589  0.467805  1.169055
sp2  -1.102857 -0.954725  0.626251  0.107779 -0.458245 -2.205715
sp3   1.994269 -1.934466  0.612049  1.459568 -1.916059  3.988538
sp4   1.106287 -0.586124  0.998881  0.862140 -1.735787  2.212574
sp5   0.415147  0.152710  0.149481  0.148058 -0.506599  0.830293
sp6  -0.147053 -0.028043  0.341747 -1.958957 -1.318665 -0.294106
sp7   0.011269 -0.483801 -1.129110  0.284472  0.095777  0.022539
sp8  -0.137943  0.427747 -1.297815 -1.101616 -0.002841 -0.275886
sp9  -0.165580  0.068137 -0.367314  0.304182  1.241040 -0.331160

TAIL COLUMN INDEX

In [93]:
data

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [94]:
data.tail()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [95]:
data['make']

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
196          volvo
197          volvo
198          volvo
199          volvo
200          volvo
Name: make, Length: 201, dtype: object

In [96]:
data.columns

Index(['symboling', 'normalized_losses', 'make', 'fuel_type', 'aspiration',
       'number_of_doors', 'body_style', 'drive_wheels', 'engine_location',
       'wheel_base', 'length', 'width', 'height', 'curb_weight', 'engine_type',
       'number_of_cylinders', 'engine_size', 'fuel_system', 'bore', 'stroke',
       'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg',
       'highway_mpg', 'price'],
      dtype='object')

In [97]:
data.index

RangeIndex(start=0, stop=201, step=1)

ISNULL() OR ISNA()

In [98]:
data.isnull()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
197,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
198,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
199,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
200,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [99]:
data.isna()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
197,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
198,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
199,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
200,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [100]:
data.isnull().sum()

symboling              0
normalized_losses      0
make                   0
fuel_type              0
aspiration             0
number_of_doors        0
body_style             0
drive_wheels           0
engine_location        0
wheel_base             0
length                 0
width                  0
height                 0
curb_weight            0
engine_type            0
number_of_cylinders    0
engine_size            0
fuel_system            0
bore                   0
stroke                 0
compression_ratio      0
horsepower             0
peak_rpm               0
city_mpg               0
highway_mpg            0
price                  0
dtype: int64

In [101]:
# data.dropna() # use dropna to drop anu NaN in the dataset

PANDAS DESCRIBE FUNCTION

In [102]:
data.describe() # gives the 5 number summary of the dataframe # works only on numeric data

,symboling,normalized_losses,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
count,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000
mean,0.840796,125.189055,98.797015,174.200995,65.889055,53.766667,2555.666667,126.875622,3.329701,3.261741,10.164279,103.263682,5121.393035,25.179104,30.686567,13207.129353
std,1.254802,33.572966,6.066366,12.322175,2.101471,2.447822,517.296727,41.546834,0.268166,0.317875,4.004965,37.389372,479.624905,6.423220,6.815150,7947.066342
min,-2.000000,65.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,101.000000,94.500000,166.800000,64.100000,52.000000,2169.000000,98.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7775.000000
50%,1.000000,122.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,2.000000,150.000000,102.400000,183.500000,66.600000,55.500000,2926.000000,141.000000,3.580000,3.460000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000
max,3.000000,256.000000,120.900000,208.100000,72.000000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,262.000000,6600.000000,49.000000,54.000000,45400.000000

In [103]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
symboling,201.0,0.840796,1.254802,-2.00,0.00,1.00,2.00,3.00
normalized_losses,201.0,125.189055,33.572966,65.00,101.00,122.00,150.00,256.00
wheel_base,201.0,98.797015,6.066366,86.60,94.50,97.00,102.40,120.90
length,201.0,174.200995,12.322175,141.10,166.80,173.20,183.50,208.10
width,201.0,65.889055,2.101471,60.30,64.10,65.50,66.60,72.00
height,201.0,53.766667,2.447822,47.80,52.00,54.10,55.50,59.80
curb_weight,201.0,2555.666667,517.296727,1488.00,2169.00,2414.00,2926.00,4066.00
engine_size,201.0,126.875622,41.546834,61.00,98.00,120.00,141.00,326.00
bore,201.0,3.329701,0.268166,2.54,3.15,3.31,3.58,3.94
stroke,201.0,3.261741,0.317875,2.07,3.11,3.29,3.46,4.17
compression_ratio,201.0,10.164279,4.004965,7.00,8.60,9.00,9.40,23.00
horsepower,201.0,103.263682,37.389372,48.00,70.00,95.00,116.00,262.00
peak_rpm,201.0,5121.393035,479.624905,4150.00,4800.00,5200.00,5500.00,6600.00
city_mpg,201.0,25.179104,6.423220,13.00,19.00,24.00,30.00,49.00
highway_mpg,201.0,30.686567,6.815150,16.00,25.00,30.00,34.00,54.00
price,201.0,13207.129353,7947.066342,5118.00,7775.00,10295.00,16500.00,45400.00

CONDITIONAL SELECTION

In [104]:
data.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [105]:
data['price']

0      13495
1      16500
2      16500
3      13950
4      17450
       ...
196    16845
197    19045
198    21485
199    22470
200    22625
Name: price, Length: 201, dtype: int64

In [106]:
data['price'].max()

45400

In [107]:
data[data['price']>40000]

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
15,0,149,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
70,0,140,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960
71,1,140,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.80,3.35,8.0,184,4500,14,16,45400

In [108]:
data['price']>40000

0      False
1      False
2      False
3      False
4      False
       ...
196    False
197    False
198    False
199    False
200    False
Name: price, Length: 201, dtype: bool

In [109]:
data[data['price']>20000][['make','price']]

              make  price
8             audi  23875
11             bmw  20970
12             bmw  21105
13             bmw  24565
14             bmw  30760
15             bmw  41315
16             bmw  36880
44          jaguar  32250
45          jaguar  35550
46          jaguar  36000
64   mercedes-benz  25552
65   mercedes-benz  28248
66   mercedes-benz  28176
67   mercedes-benz  31600
68   mercedes-benz  34184
69   mercedes-benz  35056
70   mercedes-benz  40960
71   mercedes-benz  45400
122        porsche  22018
123        porsche  32528
124        porsche  34028
125        porsche  37028
198          volvo  21485
199          volvo  22470
200          volvo  22625

In [110]:
data[(data['make'] == 'volvo') & (data['price']<50000)]

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
190,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,12940
191,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
192,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985
193,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,16515
194,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18420
195,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18950
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [111]:
data[(data['make'] == 'volvo') & (data['price']<50000)][['make','price']]

      make  price
190  volvo  12940
191  volvo  13415
192  volvo  15985
193  volvo  16515
194  volvo  18420
195  volvo  18950
196  volvo  16845
197  volvo  19045
198  volvo  21485
199  volvo  22470
200  volvo  22625

DEAL WITH NULL VALUES

In [112]:
df = pd.DataFrame({'value1':[100,np.nan,234,np.nan],
                  'value2':[300,121,np.nan,np.nan],
                  'value3':['XUI','VYU','NMA','IUY']})

In [113]:
df.head()

   value1  value2 value3
0   100.0   300.0    XUI
1     NaN   121.0    VYU
2   234.0     NaN    NMA
3     NaN     NaN    IUY

In [114]:
df.isnull()

   value1  value2  value3
0   False   False   False
1    True   False   False
2   False    True   False
3    True    True   False

In [115]:
df.isnull().sum()

value1    2
value2    2
value3    0
dtype: int64

In [116]:
df.fillna(df.mean(),inplace=True) # filling with mean of each colun

<ipython-input-116-4c482d8f0f7a>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(),inplace=True) # filling with mean of each colun

In [117]:
df.mean()

<ipython-input-117-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

value1    167.0
value2    210.5
dtype: float64

SORTING VALUES IN PANDAS

In [118]:
df.sort_values(by='value2',ascending=True)

   value1  value2 value3
1   167.0   121.0    VYU
2   234.0   210.5    NMA
3   167.0   210.5    IUY
0   100.0   300.0    XUI

In [119]:
df.sort_values(by='value2',ascending=False)

   value1  value2 value3
0   100.0   300.0    XUI
2   234.0   210.5    NMA
3   167.0   210.5    IUY
1   167.0   121.0    VYU

In [120]:
data.sort_values(by='price',ascending=False).head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
71,1,140,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.80,3.35,8.0,184,4500,14,16,45400
15,0,149,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
70,0,140,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960
125,3,128,porsche,gas,std,two,convertible,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.5,207,5900,17,25,37028
16,0,149,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880

GROUPBY

In [121]:
data.groupby('fuel_type').count()

,symboling,normalized_losses,make,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
fuel_type,,,,,,,,,,,,,,,,,,,,,
diesel,20,20,20,20,20,20,20,20,20,20,...,20,20,20,20,20,20,20,20,20,20
gas,181,181,181,181,181,181,181,181,181,181,...,181,181,181,181,181,181,181,181,181,181

COUNT() VALUE_COUNT()

In [122]:
data['make'].count() # counting how many items are in make column

201

In [123]:
data['make'].value_counts() # counting each item in make column

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
plymouth          7
audi              6
saab              6
porsche           4
jaguar            3
chevrolet         3
alfa-romero       3
isuzu             2
renault           2
mercury           1
Name: make, dtype: int64

CONCATENATION FUNCTION

In [124]:
mm = {'one':[2,3,1,4,5],
      'two':[5,4,3,2,1],
      'three':['a','a','b','b','c']}

In [125]:
mm

{'one': [2, 3, 1, 4, 5],
 'two': [5, 4, 3, 2, 1],
 'three': ['a', 'a', 'b', 'b', 'c']}

In [126]:
mm1 = pd.DataFrame(mm)

In [127]:
mm1

   one  two three
0    2    5     a
1    3    4     a
2    1    3     b
3    4    2     b
4    5    1     c

In [128]:
df

   value1  value2 value3
0   100.0   300.0    XUI
1   167.0   121.0    VYU
2   234.0   210.5    NMA
3   167.0   210.5    IUY

In [129]:
new_df = pd.concat([df,mm1]) # use the concat() to put 2 dataframes together

In [130]:
new_df

   value1  value2 value3  one  two three
0   100.0   300.0    XUI  NaN  NaN   NaN
1   167.0   121.0    VYU  NaN  NaN   NaN
2   234.0   210.5    NMA  NaN  NaN   NaN
3   167.0   210.5    IUY  NaN  NaN   NaN
0     NaN     NaN    NaN  2.0  5.0     a
1     NaN     NaN    NaN  3.0  4.0     a
2     NaN     NaN    NaN  1.0  3.0     b
3     NaN     NaN    NaN  4.0  2.0     b
4     NaN     NaN    NaN  5.0  1.0     c

In [132]:
new_df = pd.concat([df,mm1],axis=1)

In [133]:
new_df

   value1  value2 value3  one  two three
0   100.0   300.0    XUI    2    5     a
1   167.0   121.0    VYU    3    4     a
2   234.0   210.5    NMA    1    3     b
3   167.0   210.5    IUY    4    2     b
4     NaN     NaN    NaN    5    1     c

CREATING DATASETS

In [134]:
sales = {'Jones':10000,
         'Chris':5000,
         'Piyush':440,
         'Meera':6700,
         'Rahul':300}
region = {'Jones':'West',
          'Chris':np.nan,
          'Piyush':'West',
          'Meera':np.nan,
          'Anthony':'East',
          'Ellen':'South',
          'Josh':'West',
          'Simran':'East',
          'Oscar':'North'}

In [135]:
sales_df = pd.DataFrame.from_dict(sales,orient='index',columns=['sales'])
region_df = pd.DataFrame.from_dict(region,orient='index',columns=['region'])

In [136]:
sales_df

        sales
Jones   10000
Chris    5000
Piyush    440
Meera    6700
Rahul     300

In [137]:
region_df

        region
Jones     West
Chris      NaN
Piyush    West
Meera      NaN
Anthony   East
Ellen    South
Josh      West
Simran    East
Oscar    North

JOIN

In [138]:
joined_df= region_df.join(sales_df,how='left')
print(joined_df)

        region    sales
Jones     West  10000.0
Chris      NaN   5000.0
Piyush    West    440.0
Meera      NaN   6700.0
Anthony   East      NaN
Ellen    South      NaN
Josh      West      NaN
Simran    East      NaN
Oscar    North      NaN

In [142]:
joined_df1= sales_df.join(region_df,how='right')
print(joined_df1)

           sales region
Jones    10000.0   West
Chris     5000.0    NaN
Piyush     440.0   West
Meera     6700.0    NaN
Anthony      NaN   East
Ellen        NaN  South
Josh         NaN   West
Simran       NaN   East
Oscar        NaN  North

In [140]:
joined_df2= sales_df.join(region_df,how='left')
print(joined_df2)

        sales region
Jones   10000   West
Chris    5000    NaN
Piyush    440   West
Meera    6700    NaN
Rahul     300    NaN

In [143]:
joined_df3= region_df.join(sales_df,how='right')
print(joined_df3)

       region  sales
Jones    West  10000
Chris     NaN   5000
Piyush   West    440
Meera     NaN   6700
Rahul     NaN    300

In [144]:
joined_df4= sales_df.join(region_df,how='inner')
print(joined_df4)

        sales region
Jones   10000   West
Chris    5000    NaN
Piyush    440   West
Meera    6700    NaN

In [145]:
joined_df5= sales_df.join(region_df,how='outer')
print(joined_df5)

           sales region
Anthony      NaN   East
Chris     5000.0    NaN
Ellen        NaN  South
Jones    10000.0   West
Josh         NaN   West
Meera     6700.0    NaN
Oscar        NaN  North
Piyush     440.0   West
Rahul      300.0    NaN
Simran       NaN   East

MERGE

In [146]:
region_df.index.name = 'names'
sales_df.index.name = 'names'

In [150]:
print(region_df)
print('-'*15)
print(sales_df)

        region
names
Jones     West
Chris      NaN
Piyush    West
Meera      NaN
Anthony   East
Ellen    South
Josh      West
Simran    East
Oscar    North
---------------
        sales
names
Jones   10000
Chris    5000
Piyush    440
Meera    6700
Rahul     300

In [151]:
print(pd.merge(region_df,sales_df,on='names'))

       region  sales
names
Jones    West  10000
Chris     NaN   5000
Piyush   West    440
Meera     NaN   6700

In [152]:
print(pd.merge(region_df,sales_df,on='names',how='left'))

        region    sales
names
Jones     West  10000.0
Chris      NaN   5000.0
Piyush    West    440.0
Meera      NaN   6700.0
Anthony   East      NaN
Ellen    South      NaN
Josh      West      NaN
Simran    East      NaN
Oscar    North      NaN

In [153]:
print(pd.merge(region_df,sales_df,on='names',how='right'))

       region  sales
names
Jones    West  10000
Chris     NaN   5000
Piyush   West    440
Meera     NaN   6700
Rahul     NaN    300

In [154]:
print(pd.merge(region_df,sales_df,on='names',how='inner'))

       region  sales
names
Jones    West  10000
Chris     NaN   5000
Piyush   West    440
Meera     NaN   6700

In [155]:
print(pd.merge(region_df,sales_df,on='names',how='outer'))

        region    sales
names
Jones     West  10000.0
Chris      NaN   5000.0
Piyush    West    440.0
Meera      NaN   6700.0
Anthony   East      NaN
Ellen    South      NaN
Josh      West      NaN
Simran    East      NaN
Oscar    North      NaN
Rahul      NaN    300.0